@import "./variables.scss";

.page-container {
  margin-left: 2em;
  .page-tittle {
    display: flex;
    justify-content: space-between;
    .custom-select {
      margin-top: 10px;
      width: 21%;
    }
  }
  .page-body {
    margin-top: 32px;
    //border-top: 1px solid grey;
  }
}
.inbox-list {
  margin-top: 1em;
  img {
    margin-top: 15px;
    width: 32px;
    height: 32px;
  }
  .media-body {
    font-size: 80%;
    margin-top: 5px;
    border-bottom: 1px solid #e5e5e5;
    .list-header {
      display: flex;
      justify-content: space-between;
      .list-date {
        color: grey;
      }
    }
    p{
      margin-left: 24px;
    }
    .list-text {
      margin-left: 1em;
    }
  }
  li:hover {
    background-color: $hoverItemsColor;
    cursor: pointer;
  }
}
