@import "./variables.scss";
@import "./inboxPage";
.pages {
  //border: 1px dotted black;
  border-radius: 10px;
  margin-top: 2em;
 

  .p-tittle {
    position: absolute;
    margin-top: 2em;
    margin-left: 2em;
  }
  .input-list {
    position: absolute;
    margin-left: 3em;
    margin-top: 4.5em;
    .add-list-plus{
      font-size: 30px;
      margin-left: 10px;
      position: relative;
      top: 4px;
      color: $navbarBackgroundColor;
      cursor: pointer;
    }
    .input-field-list {
      border: none;
      margin-left: 1em;
    }
  }
  .project-list {
    .list-tittle {
      position: absolute;
      margin-top: 11em;
      margin-left: 2em;
    }
    .input-task {
      position: absolute;
      margin-left: 3em;
      margin-top: 13em;
      .add-task-plus{
        font-size: 30px;
        margin-left: 10px;
        position: relative;
        top: 4px;
        color: $navbarBackgroundColor;
        cursor: pointer;
      }
      .input-field-task {
        border: none;
        margin-left: 1em;
      }
    }
    #p-list {
      position: absolute;
      margin-top: 17em;
      margin-left: 4em;
      li {
        display: flex;
        width: 500px;
        justify-content: space-between;
        padding: 10px;
        &:hover{
          cursor: pointer;
          background-color: rgb(238, 238, 238);
          border-radius: 10px;
        }
        .btn:hover{
          background-color: $navbarBackgroundColor;
        }
      }
     
    }
  }


}
