* {
  margin: 0;
  padding: 0;
}
* ul {
  padding-left: 0;
}
* ul li {
  list-style: none;
  text-decoration: none;
}

.side-panel {
  background-color: #fafafa;
  height: 770px;
  margin-left: 2em;
  margin-top: 1px;
}
.side-panel .main-menu-list {
  margin-top: 24px;
}
.side-panel .main-menu-list .list-item {
  padding: 10px;
}
.side-panel .main-menu-list .list-item a {
  margin-left: 10px;
  color: grey;
}
.side-panel .main-menu-list .list-item a:hover {
  text-decoration: none;
}
.side-panel .main-menu-list .list-item .note-counts {
  float: right;
  margin-right: 10px;
}
.side-panel .main-menu-list .list-item:hover {
  cursor: pointer;
  background-color: #d1d1d1;
  border-radius: 8%;
  border-top-right-radius: 280px;
  border-bottom-right-radius: 200px;
}
.side-panel .costumes-container {
  margin-left: 0.1em;
}
.side-panel .costumes-container .costumes {
  padding: 10px;
}
.side-panel .costumes-container .costumes .add-category {
  font-size: 30px;
  margin-left: 10px;
  position: relative;
  top: 4px;
}
.side-panel .costumes-container .costumes .add-category a {
  color: #c95549;
}
.side-panel .costumes-container .projects-list {
  margin-left: -0.6em;
  margin-top: 8px;
}
.side-panel .costumes-container .projects-list li {
  padding: 10px;
}
.side-panel .costumes-container .projects-list li:hover {
  cursor: pointer;
  background-color: #d1d1d1;
  border-radius: 8%;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.side-panel .costumes-container .projects-list a {
  margin-left: 10px;
  color: grey;
}
.side-panel .costumes-container .projects-list a:hover {
  text-decoration: none;
}
.side-panel .modal-body input {
  border: none;
}

.project-page {
  margin-left: 2em;
  margin-top: 28px;
}
.project-page .input-list {
  margin-left: 1em;
}
.project-page .input-list .input-field {
  border: none;
  margin-left: 10px;
}
.project-page .input-list .add-task-plus {
  font-size: 20px;
  color: #c95549;
}
.project-page .project-list {
  margin-top: 3em;
}
.project-page .project-list .list-tittle {
  display: inline-flex;
}
.project-page .project-list .list-tittle .task-number {
  position: relative;
  margin-left: 10px;
  font-size: 15px;
  top: 3px;
}
.project-page .project-list .btn-outline-secondary {
  border-radius: 1em;
  font-size: 10px;
}
.project-page .project-list .input-task {
  margin-left: 1em;
}
.project-page .project-list .input-task .input-field {
  border: none;
  margin-left: 10px;
}
.project-page .project-list .input-task .add-task-plus {
  font-size: 20px;
  color: #c95549;
}
.project-page .project-list-completed {
  margin-top: 3em;
}
.project-page .project-list-completed .ul-list-completed {
  margin-left: 3em;
}
.project-page .project-list-completed .ul-list-completed li {
  text-decoration: line-through;
}

.pages .p-tittle {
  position: absolute;
  margin-top: 2em;
  margin-left: 2em;
}
.pages .input-list {
  position: absolute;
  margin-left: 3em;
  margin-top: 4.5em;
}
.pages .input-list .input-field-list {
  border: none;
  margin-left: 1em;
}
.pages .project-list .list-tittle {
  position: absolute;
  margin-top: 11em;
  margin-left: 2em;
}
.pages .project-list .input-task {
  position: absolute;
  margin-left: 3em;
  margin-top: 13em;
}
.pages .project-list .input-task .input-field-task {
  border: none;
  margin-left: 1em;
}
.pages .project-list #p-list {
  position: absolute;
  margin-top: 17em;
  margin-left: 4em;
}
.pages .project-list #p-list li {
  display: flex;
  width: 500px;
  justify-content: space-between;
}
.pages .project-list #p-list li:hover {
  cursor: pointer;
  background-color: #eeeeee;
  border-radius: 5%;
}

.navbar {
  height: 55px;
  background-color: #c95549;
}
.navbar .nav-icons-before {
  margin-left: 1.5em;
}
.navbar .nav-icons-before #app-logo {
  font-family: "Indie Flower", cursive;
  font-size: 23px;
}
.navbar .nav-icons-before .menu-img {
  padding: 5px;
}
.navbar .search-input {
  width: 212px;
  margin-left: -49em;
  background-color: #cfc9c96b;
  border: 1px solid #80808008;
  color: white;
}

/*# sourceMappingURL=mainStyle.css.map */
